{% extends 'list.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'deco.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
<p id="back"><a href="{% url 'list' %}">뒤로가기</a></p>
<h3>제목 : {{ post.title }}</h3>
<br/>
<p>내용 : {{ post.content }}</p>
<div class="bt">
    <a id="something" href="{% url 'postupdate' post.id %}">수정하기</a>
    <a id="something" href="{% url 'postdelete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
</div>
<br/>
<hr/>
<p id="cmt"><a href="{% url 'commentcreate' post.id %}">댓글 작성하기</a></p>
<form method='POST'>
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary">댓글 등록</button>
</form>

<br/>

<h4>댓글 목록</h4>
{% for comment in post.comment_set.all %}
    
    {{comment.content}}
    
    <a id="something" href="{% url 'commentupdate' post.id comment.id %}">수정하기</a>
    <a id="something" href="{% url 'commentdelete' post.id comment.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
    <br/>
    
{% endfor %}
<br/>

</div>
</body>
</html>
{% endblock %}

